.todo {
  background-color: #f7fbfc;
  width: 200px;
  min-height: 150px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  border: 2.5px solid #769fcd;
  border-radius: 5%;
}

.todo-completed {
  text-decoration: line-through;
}

.todo-selectbutton {
  position: absolute;
  bottom: 3px;
  left: 3px;
  background: white;
  border: 2px solid #769fcd;
  height: 10px;
  width: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.todo-buttons-delete,
.todo-buttons-toggle,
.todo-buttons-edit {
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
  background-color: #f7fbfc;
  cursor: pointer;
}

.todo-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.todo-selectbutton-selected {
  background: #769fcd;
}

.todo-title,
.todo-date {
  display: block;
}

.todo-title {
  font-size: x-large;
  margin-bottom: 10px;
}

.todo-date {
  margin-bottom: 10px;
}
