.bulkbuttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 10px;
  padding-top: 10px;
}

.bulkbuttons-delete,
.bulkbuttons-toggle {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.bulkbuttons-delete:hover,
.bulkbuttons-toggle:hover {
  background-color: #769fcd;
}

.bulkbuttons-delete-icon,
.bulkbuttons-toggle-icon {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
