.filterform {
  border-bottom: 0.5px solid black;
}

.filterform-form-title,
.filterform-form-importance {
  font-family: "Overpass", sans-serif;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  height: 30px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: large;
  padding-left: 10px;
  outline: none;
}

.filterform-form {
  text-align: center;
}
