.navbar {
  background-color: #769fcd;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 0.5px solid black;
}

.navbar-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
