.optionslist-label {
  text-align: center;
}

.optionslist-select {
  font-family: "Overpass", sans-serif;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  height: 30px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: large;
  padding-left: 10px;
  outline: none;
}
